spring:
  datasource:
    url: jdbc:mysql://localhost:3306/security_demo?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    password: sdad23307216
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  http:
    encoding:
      charset: UTF-8
      force: true
      enabled: true
  redis:
    password: sdad23307216
    port: 6379
    host: 192.168.5.128
mybatis-plus:
  mapper-locations: [classpath*:MybatisMapper/*.xml]
  type-aliases-package: com/springsecurity/spring_security_demo/Entity
  config-location: classpath:mybatis-config.xml
logging:
   level:
      com.springsecurity.spring_security_demo : debug
jwt:
   tokenHeader: Authorization
   tokenPrefix: Bearer
   secret: lanjwt
   expiration: 3600
   rememberExpiration: 604800